body {
    background-image: url("./../pics/Everlaw-data-encryption.jpg");
    background-attachment: fixed;
    background-position: center center;
}

*:active:focus {
    outline: none;
}

*:focus {
    outline: none;
}

textarea.green-color {
    border-color: green;
    color: green;
    border-width: 3px;
}

textarea.darkred-color {
    border-color: darkred;
    color: darkred;
}

label.green-color {
    border-color: green;
}

label.darkred-color {
    border-color: darkred;
}

.green-color {
    color: green;
}

.darkred-color {
    color: darkred;
}

.bg-transparent-mid-light {
    background-color: rgba(70, 70, 70, 0.50);
}

.bg-transparent-light {
    background-color: rgba(50, 50, 50, 0.2);
}

.bg-transparent-dark {
    background-color: rgba(20, 20, 20, 0.8);
}

.no-border {
    border: none;
    outline: none;
}

.form-field {
    padding: 13px 20px 13px 20px;
    margin-top: 15px;
    background-color: rgba(0,0,0,0.5);
}

.with-border {
    border: solid 2px;
}

.form-padding {
    /*margin: 5%;*/
    /*padding: 5%;*/
    /*border: 20px;*/
}

.container-login-form {
    margin-top: 100px;
}

.fa-10x {
    font-size: 10em;
}

.fa-8x {
    font-size: 8em;
}

div.image-preview {
    margin-bottom: 10px;
    padding: 13px;
}

img.image-preview {
    margin: 4px;
    max-width: 80%;
    width: 80%;
    height: auto;
}

div.form-field {
    margin-left: 4px;
    margin-right: 4px;
    font-size: large;
    border: transparent;
}

div.form-container {
    margin-top: 10px;
}

div.login-form {
    padding: 10px 0 10px 0;
}

div.login-div {
    padding: 15px 0 20px 0;
}

i.input-field-icon {
    margin-right: 10px;
}

input.input-field {
    margin: 0 5px 0 5px;
}

button.reset-data-btn-failed {
    background-color: #DD3030;
}
button.reset-data-btn-success {
    background-color: #30DD30;
}

textarea {
    padding: 10px;
    margin: 10px;
}

textarea::placeholder {
    display: flex;
    text-align: center;
    color: white;
}

input.input-field:focus {
    background-color: rgba(20, 20, 20, 0.8);
}

input.input-field::placeholder {
    color: white;
    font-style: italic;
    font-weight: normal !important;
}

.active {
    background-color: rgba(0, 150, 0, 0.4);
}

.not-active {
    background-color: rgba(150, 0, 0, 0.4);
}

.middle-placeholder::placeholder {
    text-align: center;
}


.login-btn {
    transition: all 0.5s;
    position: relative;
    border-radius: 10000px;
}

.login-btn::before {
    border-radius: 10000px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.login-btn:hover::before {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10000px;
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.login-btn::after {
    border-radius: 10000px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.1);
    transform: scale(1.2,1.2);
}

.login-btn:hover::after {
    border-radius: 10000px;
    opacity: 1;
    transform: scale(1,1);
}

a.login-options {
    margin-top: 10px;
    color: rgba(200,200,200,0.5);
    cursor: pointer;
    font-weight: bold;
    font-size: small;
}

a.login-options:hover {
    color: rgba(200,200,200, 1);
}

img.google-logo {
    height: auto;
}

.google-login-field {
    padding: 3px 3px 3px 3px;
    margin-top: 25px;
    background-color: rgba(49, 69, 132, 1);
}

.google-login-field:hover {
    background-color: rgba(29, 49, 112, 1);
}

a.link {
    margin-left: 5px;
    padding: 8px;
    font-size: larger;
    color: white;
}

a.active-link {
    background-color: rgba(150, 150, 150, 0.3);
}

a.not-active-link {
    color: rgba(200, 200, 200, 0.5);
}

ul.header-links {
    list-style: none;
    padding-top: 25px;
}

a {
    cursor: pointer;
}

a.link {
    border-radius: 3px;
}

a.link:hover {
    color: rgba(200,200,200, 1);
}

button.disable-focus:focus {
    outline: none;
}

button.encrypt-btn {
    margin-top: 30px;
    margin-bottom: 20px;
}

.darkred-border {
    border-color: darkred;
}

.encrypt-form {
    padding: 10px;
}

.font-big {
    font-size: 1.3rem;
    font-weight: normal;
}
